#fruit-fly{
    width:100vw;
    height:auto;
    transform:translateX(45%);
    position:relative;
    z-index:-1;
}

.intro{
    height:100vh;
    width:100vw;
    overflow-x:hidden;
    overflow-y:hidden;
    
}


#headshot{
    margin-bottom:0px;
    margin-top:15px;
    min-width:100px;
    max-height:3oopx;
    width:10vw;
    height:auto;
    border-radius:1vw;
    background-color:#E0E0E0;
    background-image: url(images/index/transheadshot2.png);
    background-size:180%;
    background-position-x:60%;
    background-position-y:40%;
    background-repeat:no-repeat;
}

#intro{
    display:flex;
    flex-direction:row;
}

#intro_text{
    width:70%;
    display:flex;
    flex-direction:column;
    margin-left:20px;

}

#intro h1{
    font-size:50px;
    margin-bottom:0px;
    margin-top:0px;
    font-weight:bold;
}

#intro h5{
    margin:2px;
    font-size:15px;
}

#intro p{
    margin:2px;
    margin-bottom:10px;
    font-size:15px;
}

.home_content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:left;
    width:50vw;
    margin-left:5vw;
    position:relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform:translateY(-70%);
}


.buttons{
    display:flex;
    flex-direction:row;
}

.intro_button{
    background-clip:padding-box;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:10px;
    padding-bottom:10px;  
    border-radius:15px;
    margin-right:1.5vw;
    color:rgb(255, 255, 255);
    font-weight:bold;
    border:none;
    font-size:15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#proj_butt{
    background-color:#EA4B4D;
}
#resu_butt{
    background-color:#9BD24D;
}

.intro_button:hover{
    cursor:pointer;
}
#cont_butt{
    background-color:#F07B25;
}

.intro_button a{
    text-decoration:none;
    color:white;
}


.fprojects{
    background-color: lightblue;
    height:200px;
}



@media screen and (max-width:1160px){
    /* pic on top*/
    #intro{
        display:flex;
        flex-direction:column;
    }

    #headshot{
        margin-bottom:0px;
        margin-left: 20px;
        min-width:100px;
        height:20vh;
        width:150px;
        border-radius:1vw;
        background-color:#E0E0E0;
        background-image: url(images/index/transheadshot2.png);
        background-size:180%;
        background-position-x:60%;
        background-position-y:40%;
        background-repeat:no-repeat;
    }

    .home_content {
        width:70vw;
    }
}

@media screen and (max-width:600px){
    /*mobile*/
    #fruit-fly{
        width:100vw;
        height:auto;
        transform:scaleX(-1);
        transform:translatex(-2vw);
        position:relative;
        z-index:-1;
        margin-top:0;
        margin-left:auto;
        margin-right:auto;
    }

    #headshot{
        order:2;
        display:block;
        margin-left:4vw;
        max-width:500px;
    }

    #intro {
        position:relative;
        text-align:left;
        display:flex;
        flex-direction:column;
        margin-left:auto;
        margin-right:auto;
        transform:translateY(53vw);
    
    }

    .home_content{
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:120vw;
        margin-left:4vw;
        margin-right:auto;
        position:relative;
        top:0;
        transform:translateX(0%);
    }

    .buttons{
        margin-left:1vw;
    }


}
