html{
    overflow:hidden;
    height:100%
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:100%;
    overflow:auto;
    overflow-x:hidden;
    margin:0;
    padding:0;
}

#container{
    min-height:100%;
    position:relative;
}

#contactlink{
    display:none;
}

h3{
    margin-left:6vw;
    margin-bottom:5px;
    color: black;
    z-index:0;
    font-size:28px;
    align:center;
    font-weight:normal;
    letter-spacing:0.10em;
}

/* nav things*/
.nav{
    display:flex;
    flex-direction: row;
    color: #fff;
    font-weight: lighter;
    padding: 1vh;
    width:100%;
    height: 1.5rem;
}

.nav-desktop{
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
    list-style-type: none;
    font-size: medium;
    display:flex;
    flex-direction: row;
    margin-top: 25px;
}

.nav-item a{
    padding: 5px 15px;
    font-weight:bold;
    text-decoration: none;
    color: #000;
}

.nav-name{
    font-weight:bolder;
    font-size: large;
    text-decoration: none;
    color: #000;
    margin-right: auto;
    letter-spacing:0.25em;
    margin-left:15px;
}

.nav-item a:hover{
    color:#EA4B4D;
}

.ff_image{
    max-height: 20px;
    margin-right:auto;
    width:50%;
}

footer {
    background-color: #000;
    color: #fff;
    font-weight: lighter;
    padding: 1vh;
    width:100%;
    height: 1.5rem;
}

.burger div{
    width:18px;
    height:3px;
    background-color:black;
    margin:5px;
    display:none;
    margin-left:auto;
    transition: all 0.3s ease;
    z-index:2;
}

.burger{
    cursor:pointer;
    margin-top:21px;
}

.oops footer{
    position:absolute;
    bottom:0;
}

.oops h3{
    margin-left:0;
}

.oops .write-up{
    text-align:center;
    transform:translateY(100%);
}



@media screen and (max-width: 750px) {
    
    .more_projects{
        height:100px;
    }

    body{
        overflow-x:hidden;
    }
    .nav-desktop{
        position:absolute;
        right:0px;
        height:30vh;
        background:white;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        top:0;
        width:50%;
        transform: translateX(100%);  
    }

    .nav-desktop li{
        opacity:0%;
    }

    .burger div{
        display:block;
        background-color:black;
        margin-right:5vw;
    }

    .nav-active{
        transform:translateX(10%);
        transition: transform 0.5s ease-in;
        margin-top:0;
        padding:20px;
        z-index:1;
    }


    @keyframes navLinkFade{
        from{
            opacity:0;
            transform: translateX(50px);
        }

        to{
            opacity:1;
            transform: translateX(0px);
        }
    }

   
    
    .toggle .line1{
        opacity: 0;
        transform: rotate(-45deg) translate(-5px,0px);
        position:fixed;
        z-index:2;
    }
    .toggle .line2{
        position:fixed;
        z-index:2;
        transform:translateX(-30px);
    }
    .toggle .line3{
        opacity: 0;
        transform: rotate(45deg) translate(-5px,0px);
        position:fixed;
        z-index:2;
    }
}

